.LoginPage {
  min-height: 100dvh;
  // background: linear-gradient(180deg, #4e70f1 0%, #4e70f1 math.div(378, 2800 - 104) * 100%, #f5f5f5 math.div(623, 2800 - 104) * 100%, #f5f5f5 100%);
  background: linear-gradient(180deg,
      #4e70f1 0%,
      #5d7cf3 10%,
      /* 浅一点的蓝色过渡 */
      #7c90f5 17%,
      /* 再浅一些作为缓冲色 */
      #dcdff0 25%,
      /* 从蓝灰过渡到灰色中间色 */
      #f5f5f5 35%,
      #f5f5f5 100%);


  &>div {
    min-height: 100dvh;
    padding-top: func.rfs(349);
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .Card {
    background: #fff;
    // height: mixins.rfs(1820);
    flex: 1;
    width: func.rfs(1200);
    padding: func.rfs(125) func.rfs(70);
    /* mixins.rfs(512)*/
    border-radius: func.rfs(67);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Title {
      text-align: center;
      font-size: func.rfs(75);
      font-weight: bold;
      margin-bottom: func.rfs(175);
      color: #222;
    }

    .InputGroup {
      position: relative;
      margin-bottom: func.rfs(61);

      .Input {
        width: 100%;
        height: func.rfs(182);
        padding: func.rfs(60) func.rfs(167);
        border: none;
        border-radius: func.rfs(91);
        // 输入框背景色
        background: #f5f5f5;
        font-size: func.rfs(61);
        line-height: func.rfs(61);
        // 移除默认轮廓
        outline: none;

        // 占位符
        &::placeholder {
          color: #b9b9b9;
          text-align: center;
        }
      }

      .icon {
        position: absolute;
        left: func.rfs(66);
        top: 50%;
        transform: translateY(-50%);
        width: func.rfs(52);
        height: func.rfs(52);
        fill: #b9b8be;
      }
    }

    .Options {
      display: flex;
      justify-content: flex-end;
      height: func.rfs(57);
      color: #111111;
      margin-bottom: func.rfs(95);

      .Link {
        cursor: pointer;
        line-height: func.rfs(57);
        font-size: func.rfs(48);
      }
    }

    .LoginBtn {
      width: 100%;
      height: func.rfs(162);
      margin-bottom: func.rfs(80);
      border: none;
      border-radius: func.rfs(81);
      color: #fffff9;
      font-size: func.rfs(53);
      line-height: func.rfs(162);
      font-weight: bold;
      letter-spacing: 4px;
      background: #4d6ff0;

      &.Disabled {
        background: #c9d4fb;
        cursor: not-allowed;
      }
    }

    .SmsLogin {
      text-align: center;
      font-size: func.rfs(43);
      color: #1f1f1f;
    }
  }

  .BottomLinks {
    left: 0;
    right: 0;
    margin-top: auto;
    padding-top: func.rfs(122);
    padding-bottom: func.rfs(82);
    display: flex;
    justify-content: center;
    gap: func.rfs(50);
    font-size: func.rfs(49);
    color: #858585;
  }
}