.TabBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: func.rfs(177);
  width: 100vw;
  margin: 0 auto;
  border-top: func.rfs(4) solid #f7f7f8;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.TabItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 13px;
  position: relative;
  height: 100%;
  cursor: pointer;
  transition: color 0.2s;
}

.TabItemActive {
  fill: #4e8cff;
  color: #4e8cff;
  font-weight: bold;
}

.TabItem .Icon {
  width: func.rfs(65);
  height: func.rfs(65);
  margin-bottom: func.rfs(2);
}

.TabItem .Label {
  font-size: func.rfs(37);
  line-height: 1;
  margin-top: func.rfs(15);
}

.TabAdd {
  // 线性渐变，从左上到右下
  background: linear-gradient(to bottom right, #a598fc, #5b7fff);
  border-radius: func.rfs(49);
  width: func.rfs(121);
  height: func.rfs(121);
  margin-top: func.rfs(-18);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;

  .AddIconWrapper {
    width: func.rfs(54);
    height: func.rfs(54);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .AddIcon {
    width: 100%;
    height: 100%;
    display: block;
  }
}



.Badge {
  position: absolute;
  top: 8px;
  right: 22px;
  background: #ff4d4f;
  color: #fff;
  font-size: 10px;
  border-radius: 10px;
  padding: 0 5px;
  min-width: 18px;
  text-align: center;
  line-height: 18px;
}