topBar.profile {
  width: 100%;
  height: 100%;
  padding-top: func.rfs(154);
}

.placeholder {
  height: func.rfs(154);
}

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: func.rfs(1260, 0px, 1260*1.68);
  height: func.rfs(154);
  padding-right: func.rfs(55);
  margin: 0 auto;

  .icon {
    margin-top: func.rfs(38);
    height: func.rfs(65);
    width: func.rfs(72);
  }
}

.userInfo {
  width: func.rfs(1260, 0px, 1260*1.68);
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 func.rfs(48);
  margin-top: func.rfs(37);
  margin-bottom: func.rfs(45);

  .avatar {
    width: func.rfs(169);
    margin-right: func.rfs(41);

    img {
      border-radius: 50%;
    }
  }

  .userInfotext {
    display: flex;
    flex-direction: column;
    gap: func.rfs(27);
    color: #141414;

    .nickname {
      font-size: func.rfs(58);
      font-weight: 500;
      line-height: 1;
    }

    .followAndFans {
      display: flex;
      gap: func.rfs(34);
      color: #8f8e94;
      font-size: func.rfs(37);
      line-height: 1;
    }
  }
}

.userStats {
  display: flex;
  justify-content: space-around;
  width: func.rfs(1260, 0px, 1260*1.68);
  height: func.rfs(248);
  margin: 0 auto;
  background-color: #fbfbfb;
  border-radius: func.rfs(20) func.rfs(20) 0 0;

  .userStatsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: func.rfs(26);
    line-height: 1;

    .Count {
      font-size: func.rfs(58);
      font-weight: 500;
      color: #141414;
    }

    .Name {
      font-size: func.rfs(36);
      color: #515152;
    }
  }
}

.functionArea {
  width: func.rfs(1260, 0px, 1260*1.68);
  padding: 0 func.rfs(25);
  margin: 0 auto;
  background-color: #f7f7f8;

  .commonFunction {
    background-color: #fff;
    border-radius: func.rfs(31);
    padding-top: func.rfs(59);
    padding-bottom: func.rfs(59);

    // 选中第一个div
    .Name {
      padding-left: func.rfs(38);
      margin-bottom: func.rfs(63);
      font-size: func.rfs(50);
      font-weight: 500;
      color: #141414;
      line-height: 1;
    }

    // 修改.functionArea的直接子标签的样式
    .functionList {
      display: flex;
      gap: func.rfs(80, 0px, 80*1.68);
      padding: 0 func.rfs(43);

      .functionItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: func.rfs(28);

        font-size: func.rfs(36);
        color: #141414;
        line-height: 1;

        .Icon {
          width: func.rfs(80);
          height: func.rfs(80);
        }

        // 单独设置第一个.Icon的颜色
        &:first-child .Icon {
          fill: #ff953c;
        }

        // 单独设置第二个.Icon的颜色
        &:nth-child(2) .Icon {
          fill: #fd617f;
        }

        // 单独设置第三个.Icon的颜色
        &:nth-child(3) .Icon {
          fill: #57acff;
        }

        // 单独设置第四个.Icon的颜色
        &:nth-child(4) .Icon {
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to top right, #30cc6f, #81e679);
          border-radius: func.rfs(30);

          svg {
            width: func.rfs(35);
            height: func.rfs(35);
          }
        }
      }
    }
  }
}