@use "sass:math";

// 公共的vw计算函数
@function vw($px) {
  @return math.div($px, 1260) * 100vw;
}

@function vh($px) {
  @return math.div($px, 1260) * 65vh;
}

@function rfs($px, $min: 0px) {
  @return clamp($min, vw($px), vh($px));
}

.noMore {


  display: flex;
  align-items: center;
  justify-content: center;
  gap: rfs(24);
  color: #999;

  div {
    width: rfs(97);
    height: rfs(1);
    background-color: #f2f2f2;
  }

  span {
    font-size: rfs(44);
    line-height: rfs(49);
    color: #888;
    // 不换行
    white-space: nowrap;
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rfs(80) 0;
  color: #999;
  font-size: rfs(44);
  line-height: rfs(49);
}