@use "sass:math";

.home {
  width: 100%;
  height: 100%;

  // 线性渐变
  background: linear-gradient(#f2fdff 0%, #F2F2F3 math.div(175, 2800)*100%);
  padding-bottom: func.rfs(177);

  :global(.adm-pull-to-refresh-content) {
    margin: 0 auto;
    gap: func.rfs(24);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: func.rfs(1260, 0px, 1260*1.68);
    padding: func.rfs(24) func.rfs(25) 0 func.rfs(25);
  }
}