.settingsPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f7f7f8;

  .placeholder {
    height: func.rfs(151);
  }

  .header {
    position: fixed;
    height: func.rfs(151);
    width: 100%;
    background-color: #fff;

    .icon {
      position: absolute;
      left: func.rfs(65);
      margin-top: func.rfs(42);
      height: func.rfs(63);
      width: func.rfs(63);
    }

    .title {
      position: absolute;
      left: 50%;
      top: func.rfs(42);
      transform: translateX(-50%);
      font-size: func.rfs(49);
      color: #141414;
      line-height: 1;
    }
  }

  .settingsSection {
    width: func.rfs(1260);
    margin: func.rfs(53) auto;


    .logout {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      height: func.rfs(169);
      color: #fd3b2d;
      font-size: func.rfs(52);
      line-height: 1;
      cursor: pointer;
    }
  }
}