@use "sass:math";

// 公共的vw计算函数
@function vw($px) {
  @return math.div($px, 1260) * 100vw;
}

@function vh($px) {
  @return math.div($px, 1260) * 65vh;
}

@function rfs($px, $min: 0px) {
  @return clamp($min, vw($px), vh($px));
}


// 主容器
.cardContainer {
  width: rfs(1210);
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: rfs(24);
  padding: rfs(49) rfs(34) rfs(0);
  border-radius: 10px;
  transition: background-color 0.2s ease;
  cursor: pointer;

  // 点击变色效果
  &.active {
    background-color: #f5f5f5;
  }
}

// 卡片头部
.cardHeader {
  display: flex;
  height: rfs(115);
  // border: 1px solid #000;
  margin-bottom: rfs(12);
}

.cardHeaderChannel {
  display: flex;
  align-items: start;
  height: rfs(115);
}

.cardHeaderChannelAvatarImg {
  width: rfs(110);
  height: rfs(110);
  border-radius: rfs(47);
}

.cardHeaderChannelText {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: rfs(694);
  height: rfs(110);
  margin-left: rfs(32);
}

.cardHeaderChannelTextNameBox {
  display: inline-flex;
  margin-bottom: rfs(11);
  font-size: rfs(47);
  font-weight: 500;
  line-height: rfs(52);
  color: #000;

  .cardHeaderChannelTextName {
    // 字数限制10个字符，超出显示省略号
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 9rem;
  }
}



.cardHeaderChannelTextDesc {
  display: flex;
  align-items: center;
  gap: rfs(10);
  // margin-top: rfs(5);
  font-size: rfs(38);
  line-height: rfs(42);
  color: #a4a4a7;

}

// 关注按钮
.cardHeaderButton {
  align-self: flex-end;
  width: rfs(205);
  height: rfs(91);
  background-color: #eff5fe;
  font-size: rfs(38);
  color: #3f71fd;
  border-radius: rfs(45.5);
  text-align: center;
  line-height: rfs(91);
}

// 卡片主体
.cardBodyTitle {
  margin-bottom: rfs(11);
  font-size: rfs(56);
  font-weight: 600;
  line-height: rfs(72);
  // 字数限制2行，超出显示省略号
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.cardBodyContent {
  font-size: rfs(56);
  line-height: rfs(72);
  // 字数限制2行，超出显示省略号
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
}

.cardBodyImg {

  // 图片容器样式
  img {
    object-fit: cover;
  }

  // 渲染的图片数量为1时
  &.cardBodyImgOne {
    img {
      min-width: rfs(372);
      min-height: rfs(372);
      max-width: rfs(756);
      max-height: rfs(1008);
      border-radius: rfs(24);
    }
  }


  // 渲染的图片数量为2或3时
  &.cardBodyImgTwoOrThree {
    display: flex;
    gap: rfs(12);

    img {
      width: rfs(372);
      height: rfs(372);
    }

    // 第一个图片为左边圆角，最后一个图片为右边圆角
    img:first-child {
      border-top-left-radius: rfs(24);
      border-bottom-left-radius: rfs(24);
    }

    img:last-child {
      border-top-right-radius: rfs(24);
      border-bottom-right-radius: rfs(24);
    }
  }

}

// 卡片底部
.cardFooter {
  display: flex;
  justify-content: space-around;
  height: rfs(140);
  padding: rfs(45);
  color: #515152;

  .cardFooterItem {
    display: flex;
    align-items: center;
    gap: rfs(21);

    // 图标基础样式
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rfs(48);
      height: rfs(48);
      cursor: pointer;
      fill: #515152;
    }

    span {
      font-size: rfs(38);
    }

    &.cardFooterItemLiked {
      color: #ff382a;

      .icon {
        fill: #fe4c63;
      }
    }
  }


}

// 动画类
.iconAnimate {
  animation: scaleBounce 0.3s ease-in-out;
}

// 动画关键帧
@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes elasticScale {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}