.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 21;
}


.dragDownPanel {
  position: relative;
  z-index: 22;
  background-color: white;
  width: func.rfs(1260, 0px, 1260*1.68);
  height: 90vh;
  border-top-left-radius: func.rfs(34);
  border-top-right-radius: func.rfs(34);
  display: flex;
  flex-direction: column;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  transform: translateY(100vh);

  &.closed {
    transform: translateY(100vh);
  }
}

// .dragHandle {
//   width: mixins.rfs(150);
//   height: mixins.rfs(20);
//   background-color: #f0f0f0;
//   border-radius: mixins.rfs(7);
//   margin: mixins.rfs(28) auto;
// }

.header {
  position: relative;
  height: func.rfs(153);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 func.rfs(40);
  border-bottom: func.rfs(3) solid #f7f7f7;
  flex-shrink: 0;

  /* 防止 header 挤压 */
  h3 {
    margin: 0;
    font-size: func.rfs(53);
    font-weight: 500;
  }
}

.closeButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: func.rfs(40+17);

  .icon {
    display: flex;
    text-align: center;
    align-items: center;
    width: func.rfs(47);
    height: func.rfs(47);
    fill: #141414
  }
}

.content {
  flex: 1;
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
  /* 增强 iOS 上的滚动体验 */

  // 核心修改: 使用 overscroll-behavior 解决滚动穿透
  overscroll-behavior: contain;

  // 确保内容区域在拖拽时不会被意外移动
  position: relative;

  // 防止在拖拽过程中出现选择文本的情况
  user-select: none;
  -webkit-user-select: none;
}