.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.58);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modalContent {
  width: 100%;
  background-color: #ffffff;
  border-radius: 32px 32px 0px 0px;
  padding: 24px 0 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: PingFang SC;
  font-size: 38px;
  font-weight: 400;
  line-height: 2.97;
  text-align: left;
  color: #141414;
  margin-bottom: 24px;
}

.option {
  width: 100%;
  text-align: center;
  font-family: PingFang SC;
  font-size: 46px;
  font-weight: 400;
  line-height: 3.17;
  color: #141414;
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;

  &:last-child {
    border-bottom: none;
  }
}

.cancel {
  width: 100%;
  text-align: center;
  font-family: PingFang SC;
  font-size: 46px;
  font-weight: 400;
  line-height: 3.17;
  color: #515152;
  padding: 20px 0;
  margin-top: 24px;
}