.topBarContainer {
  height: func.rfs(154);
  // padding: 0 mixins.rfs(40);
  background-color: #fff;
  position: relative;

  .topBarLeft {
    position: absolute;
    // left: mixins.rfs(40);
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;

    .closeIcon .icon {
      width: func.rfs(49);
      height: func.rfs(49);
      cursor: pointer;
    }
  }

  .topBarCenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    $side: 49*2 + 40*2;
    max-width: calc(100vw - #{func.rfs($side)});

    >div {
      display: flex;
      align-items: center;
      justify-content: center;

      &.overflow {
        justify-content: flex-start;
        overflow-x: auto;

        // 隐藏所有浏览器的滚动条。
        // 作用：隐藏Firefox 浏览器的滚动条。
        // 只对 Firefox 有效。
        @supports (-moz-appearance: none) {
          scrollbar-width: none;
        }

        // 作用：隐藏IE 和 Edge（旧版）的滚动条。
        // 只对旧版 IE/Edge 有效。
        & {
          -ms-overflow-style: none;
        }

        // 作用：隐藏Chrome、Safari 和 Opera 的滚动条。
        // 只对 Webkit/Blink 浏览器有效。
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .tabItem {
      font-size: func.rfs(57);
      color: #515152;
      padding: func.rfs(12) func.rfs(28);
      cursor: pointer;
      position: relative;
      transition: color 0.2s;
      white-space: nowrap;

      &.active {
        color: #141414;
        font-weight: 600;

        &::after {
          content: "";
          position: absolute;
          bottom: func.rfs(0);
          left: 50%;
          transform: translateX(-50%);
          width: func.rfs(49);
          height: func.rfs(12);
          background-color: #8b44fe;
          border-radius: func.rfs(6);
        }
      }

      // 新增：只加粗文字，不显示下划线
      &.boldTextOnly {
        color: #333;
        font-weight: bold;
      }
    }
  }

  .topBarRight {
    position: absolute;
    // right: mixins.rfs(40);
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .publishButton {
      background-image: linear-gradient(to right, #3f71ff 0%, #00f2fe);
      color: #fff;
      font-weight: bold;
      padding: func.rfs(15) func.rfs(30);
      /* 调整内边距 */
      border-radius: func.rfs(50);
      /* 大圆角 */
      font-size: func.rfs(40);
      /* 调整字体大小 */
      text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
      /* 添加文字发光效果 */
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
      /* 添加阴影 */
      white-space: nowrap;
      /* 防止文字换行 */

      &.publishButtonDisabled {
        background-image: linear-gradient(to right, #ccc 0%, #aaa 100%);
        /* 灰色渐变背景 */
        color: #999;
        /* 灰色文字 */
        text-shadow: none;
        /* 移除文字发光 */
        box-shadow: none;
        /* 移除阴影 */
        cursor: not-allowed;
        /* 禁用鼠标样式 */
      }
    }
  }
}