@use "sass:math";

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: func.rfs(152);
  width: func.rfs(1260, 0px, 1260*1.68);
  margin: 0 auto;
  padding-top: func.rfs(60);
  background-color: transparent; // 默认背景色透明
  transition: background-color 0.3s ease; // 添加过渡效果

  &.scrolled {
    background-color: #fff; // 滚动后的背景色
  }

  .back {
    height: func.rfs(62);
    margin-left: func.rfs(64);
  }
}

.background {
  height: func.rfs(566);
  width: func.rfs(1260);
  margin: 0 auto;
}

.userInfo {
  width: func.rfs(1260, 0px, 1260*1.68);
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  padding-left: func.rfs(52);
  padding-right: func.rfs(52);

  .avatar {
    position: absolute;
    // 向上偏移头像的50%
    transform: translateY(-50%);
    left: func.rfs(52);
    display: flex;
    align-items: center;
    justify-content: center;
    width: func.rfs(315);
    height: func.rfs(315);
    background-color: #fff;
    border-radius: 50%;

    img {
      width: func.rfs(298);
      height: func.rfs(298);
      border-radius: 50%;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    height: func.rfs(157);

    .editProfile {
      height: func.rfs(100);
      width: func.rfs(365);
      border: func.rfs(2) solid #415b9e;
      margin-top: func.rfs(49);
      margin-right: func.rfs(55);
      border-radius: func.rfs(50);
      font-size: func.rfs(47);
      color: #285aea;
      line-height: func.rfs(100);
      text-align: center;
    }

    .userActions {
      display: flex;
      gap: func.rfs(36);
      margin-top: func.rfs(36);
      margin-right: func.rfs(49);
      font-size: func.rfs(44);

      .follow {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: func.rfs(15);
        width: func.rfs(283);
        color: #fff;
        background-color: #3d71fe;
        border-radius: func.rfs(math.div(283, 2));

        .icon {
          stroke: #fff;
        }
      }

      .message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: func.rfs(15);
        width: func.rfs(243);
        color: #325acc;
        background-color: #f4f2fe;
        border-radius: func.rfs(math.div(243, 2));

        .icon {
          fill: #325acc;
          width: func.rfs(50);
          height: func.rfs(50);
        }
      }

      .icon {
        width: func.rfs(44);
        height: func.rfs(44);
      }
    }
  }

  .nickname {
    margin-top: func.rfs(48);
    color: #141414;
    font-size: func.rfs(63);
    font-weight: 600;
    line-height: 1;
  }

  .userIdAndCreateTime {
    display: flex;
    align-items: center;
    gap: func.rfs(20);
    margin-top: func.rfs(65);
    color: #8f8e94;
    font-size: func.rfs(40);
    line-height: 1;

    .icon {
      height: func.rfs(30);
      stroke: #e3e2e8;
    }
  }

  .introduction {
    margin-top: func.rfs(56);
    font-size: func.rfs(46);
    color: #8f8e96;
    line-height: 1;
  }

  .userStats {
    display: flex;
    gap: func.rfs(102);
    padding-top: func.rfs(69);
    padding-bottom: func.rfs(62);
    border-bottom: #ededed func.rfs(1) solid;
    color: #8f8e96;
    font-size: func.rfs(44);
    line-height: 1;


    span {
      margin-right: func.rfs(25);
      color: #141414;
      font-size: func.rfs(60);
      font-weight: 600;
    }
  }
}

.tabs {
  position: sticky;
  z-index: 1;
  top: func.rfs(152);
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: func.rfs(66);
  width: func.rfs(1260, 0px, 1260*1.68);
  height: func.rfs(138);
  margin: 0 auto;
  padding-left: func.rfs(52);
  padding-right: func.rfs(52);
  background-color: #fff;
  color: #8f8e94;
  font-size: func.rfs(46);
  line-height: 1;

  .active {
    position: relative;
    color: #141414;
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      bottom: calc(#{func.rfs(26)} * -1);
      left: 50%;
      transform: translateX(-50%);
      width: func.rfs(54);
      height: func.rfs(15);
      background-color: #1677ff;
      border-radius: func.rfs(7);
    }
  }
}

.content {
  margin: 0 auto;
  gap: func.rfs(24);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: func.rfs(1260, 0px, 1260*1.68);
  padding: func.rfs(24) func.rfs(25) 0 func.rfs(25);
}