@use "sass:math";

// 公共的vw计算函数
@function vw($px) {
  @return math.div($px, 1260) * 100vw;
}

.publish-article {
  min-height: 100vh;
  background-color: #fff;

  .custom-quill-editor .ql-editor {
    padding: 16px;
    min-height: 200px;
    font-size: vw(56);
    line-height: vw(72);

    &::before {
      font-style: normal !important;
      color: #666;
    }

  }

  .ql-toolbar.ql-snow {
    border: none !important;
    box-shadow: none !important;
  }

  .ql-container.ql-snow {
    border: none !important;
    box-shadow: none !important;
  }
}