.publishArticle {
  min-height: 100vh;
  background-color: #fff;
  //设置左右边距
  padding: 0 func.rfs(40);

  // 输入框容器
  .titleInputContainer {
    align-items: center;
    border-bottom: func.rfs(2) solid #ededee;
    padding-top: func.rfs(20);
    padding-bottom: func.rfs(20);

    // 输入框
    .titleInput {
      // 输入字体样式
      font-size: func.rfs(53);
      line-height: func.rfs(73);
      font-weight: 700;
      color: #141414;
      width: 100%;
      /* 清除默认样式 */
      border: none;
      outline: none;
      background: none;
      resize: none;
      box-shadow: none;
      color: inherit;
      font-family: inherit;

      // 输入框样式
      //设置输入框占位符样式
      &::placeholder {
        color: #b9b8be;
        font-weight: 700;
        font-size: func.rfs(53);
        line-height: func.rfs(73);
      }
    }

    // 标题字数
    .titleCharCount {
      display: flex;
      justify-content: end;
      align-items: center;
      font-size: func.rfs(53);
      line-height: func.rfs(73);
      color: #b9b8be;

      span.active {
        color: #fd3b2d;
      }
    }
  }

  // 内容输入框容器
  .contentInputContainer {
    border-bottom: func.rfs(2) solid #ededee;
    padding-top: func.rfs(69);
    padding-bottom: func.rfs(86);
    margin-bottom: func.rfs(77);

    // 输入框
    .contentInput {
      // 输入字体样式
      font-size: func.rfs(53);
      line-height: func.rfs(73);
      color: #141414;
      width: 100%;
      /* 清除默认样式 */
      border: none;
      outline: none;
      background: none;
      resize: none;
      box-shadow: none;
      color: inherit;
      font-family: inherit;

      // 输入框样式
      //设置输入框占位符样式
      &::placeholder {
        color: #b9b8be;
        font-size: func.rfs(53);
        line-height: func.rfs(73);
      }
    }

    // 文章内容字数
    .contentCharCount {
      display: flex;
      justify-content: end;
      align-items: center;
      font-size: func.rfs(53);
      line-height: func.rfs(73);
      color: #b9b8be;

      span.active {
        color: #fd3b2d;
      }
    }

    // 图片上传
    // 图片上传容器
    .imageUploadContainer {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: func.rfs(25) func.rfs(24);
      flex-wrap: wrap;
      margin-top: func.rfs(20);

      .imageWrapper {
        position: relative;
        width: func.rfs(374);
        height: func.rfs(377);
        border-radius: func.rfs(22);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;

        .thumbnail {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .removeButton {
          position: absolute;
          top: 2px;
          right: 2px;
          background-color: rgba(191, 191, 191, 0.3);
          color: white;
          border: none;
          border-radius: 50%; // 在 SCSS 中可以直接写数字，默认是 px
          width: func.rfs(46);
          height: func.rfs(46);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: func.rfs(25);
          cursor: pointer;
          padding: 0;
          z-index: 1; // 确保按钮在图片上方

          .icon {
            width: func.rfs(20);
            height: func.rfs(20);
            fill: #fff;
          }
        }
      }

    }

    .imageUploadInput {
      width: func.rfs(370);
      height: func.rfs(377);
      background-color: #f7f7f8;
      border-radius: func.rfs(19);
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: func.rfs(88);
        height: func.rfs(88);
        fill: #a3a2a8;
      }
    }
  }
}