@use "sass:math";

// 公共的vw计算函数
@function vw($px) {
  @return math.div($px, 1260) * 100vw;
}

@function vh($px) {
  @return math.div($px, 1260) * 65vh;
}

@function rfs($px, $min: 0px) {
  @return clamp($min, vw($px), vh($px));
}




.articleDetailPage {
  min-height: 100vh;
  background: #f7f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;

  // 吸顶header
  .header {
    z-index: 18;
    // position: sticky;
    position: fixed;
    top: 0;
    display: flex;
    align-items: start;
    width: clamp(0px, 100vw, 65vh);
    height: rfs(155);
    padding: rfs(27) rfs(36) rfs(27);
    background: #fff;


    .back {
      margin-right: rfs(16);
      height: rfs(99);
      display: flex;
      align-items: center;

      .backIcon {
        width: rfs(61);
        height: rfs(59);
        fill: #141414;
      }
    }

    .channel {
      height: rfs(99);
      padding: rfs(18) rfs(40);
      background-color: #eff5fe;
      border-radius: rfs(math.div(99, 2));
      display: flex;
      align-items: center;

      .channelImg {
        width: rfs(63);
        height: rfs(63);
        border-radius: rfs(26);
        margin-right: rfs(16);
        object-fit: cover;
      }

      .channelName {
        font-size: rfs(44);
        line-height: rfs(63);
        max-width: 9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .channelIcon {
        // width: rfs(61);
        height: rfs(36);
        fill: #a3a2a8;
      }
    }

    .title {
      flex: 1;
      font-weight: 600;
      color: #0f0f0f;
      font-size: rfs(69);
      line-height: rfs(104);
    }
  }

  .articleCard {
    width: clamp(0px, 100vw, 65vh);
    background: #fff;
    // border-radius: 12px;
    margin: 0 auto rfs(19) auto;
    // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    padding: rfs(69) rfs(36);

    .userInfo {
      height: rfs(117);
      display: flex;
      align-items: center;
      margin-bottom: rfs(19);

      .avatar {
        width: rfs(108);
        height: rfs(108);
        border-radius: rfs(54);
        margin-left: rfs(-1);
        margin-right: rfs(20);
        object-fit: cover;
        border: 1.5px solid #f2f2f2;
      }

      .userInfoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: rfs(16);



        .userMeta {
          display: flex;
          align-items: center;
          gap: rfs(16);
          height: rfs(46);


          .nickname {
            font-weight: 500;
            color: #222;
            font-size: rfs(40);
            line-height: rfs(46);
          }

          // .level {
          //   background: #ffe7b2;
          //   color: #ff9800;
          //   font-size: 12px;
          //   border-radius: 8px;
          //   padding: 0 6px;
          //   margin-left: 2px;
          // }

          // .authorTag {
          //   background: #eaf1fe;
          //   color: #4e70f1;
          //   font-size: 12px;
          //   border-radius: 8px;
          //   padding: 0 6px;
          //   margin-left: 2px;
          // }
        }

        .time {
          color: #bdbdbd;
          font-size: rfs(36);
          line-height: rfs(36);
        }
      }

      .followBtn {
        width: rfs(205);
        height: rfs(91);
        margin-left: auto;
        margin-right: rfs(4);
        background-color: #eff5fe;
        font-size: rfs(38);
        color: #3f71fd;
        border-radius: rfs(45.5);
        text-align: center;
        line-height: rfs(91);
      }
    }

    .title {
      flex: 1;
      margin-bottom: rfs(50);
      font-weight: 600;
      color: #141414;
      font-size: rfs(69);
      line-height: rfs(104);
    }

    .content {
      font-size: rfs(55);
      line-height: rfs(88);
      color: #141414;
      margin-bottom: rfs(39);
      // white-space: pre-wrap;

      p {
        margin-bottom: rfs(23);
      }
    }

    .images {
      margin-bottom: 8px;
      cursor: pointer;
      transition: box-shadow 0.2s;

      &:active {
        // box-shadow: 0 4px 16px 0 rgba(78, 112, 241, 0.12);
      }

      .imageItem {
        margin-bottom: rfs(37);

        .imageBox {
          position: relative;
          display: inline-block;
          border-radius: rfs(23);
          overflow: hidden;

          img {
            max-height: rfs(4096);
            border-radius: rfs(23);
            object-fit: cover;
          }

          .imageMask {
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: rfs(23);
            border: rfs(1) solid rgba(0, 0, 0, 0.07);
          }
        }
      }
    }

    .cardFooter {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: rfs(39);

      .cardFooterItem {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: rfs(16);
        font-size: rfs(37);
        color: #49494a;
        text-align: center;

        .icon {
          width: rfs(72);
          height: rfs(72);
          fill: #49494a;

          path {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }

  .StickyActive {
    border-bottom: rfs(1) solid #ededed;
  }

  // 动画类
  .iconAnimate {
    animation: scaleBounce 0.3s ease-in-out;
  }

  // 动画关键帧
  @keyframes scaleBounce {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .commentSection {
    width: clamp(0px, 100vw, 65vh);
    margin: 0 auto;
    background: #fff;
    // padding: 0px rfs(40);

    // 评论区标题吸顶
    .commentTitle {
      // position: sticky;
      top: rfs(155);

      display: flex;
      justify-content: space-between;
      align-items: start;

      height: rfs(135);
      padding: rfs(29) rfs(40) rfs(14);
      background: #fff;

      font-size: 15px;
      color: #888;
      font-weight: 500;


      .commentViewFilter {
        display: flex;
        align-items: center;
        gap: rfs(67);

        margin-top: rfs(1);

        .commentViewFilterItem {
          color: #8f8e94;
          font-size: rfs(47);
          line-height: rfs(71);

          &.active {
            color: #141414;
          }
        }
      }

      .commentMode {
        display: flex;
        align-items: center;
        gap: rfs(16);
        background-color: #f7f7f8;
        height: rfs(91);
        border-radius: rfs(45.5);

        .commentModeItem {
          width: rfs(150);
          height: 100%;
          color: #a3a3a6;
          font-size: rfs(40);
          line-height: rfs(91);
          text-align: center;

          &.active {
            border: rfs(4) solid #ededee;
            background-color: #ffffff;
            border-radius: rfs(45.5);
            color: #141414;
          }
        }
      }
    }
  }


}