@use "sass:math";

.articleDetailPage {
  min-height: 100vh;
  background: #f7f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: func.rfs(168);

  // 吸顶header
  .header {
    z-index: 18;
    // position: sticky;
    position: fixed;
    top: 0;
    display: flex;
    align-items: start;
    width: func.rfs(1260, 0px, 1260*1.68);
    height: func.rfs(155);
    padding: func.rfs(27) func.rfs(36) func.rfs(27);
    background: #fff;

    .back {
      margin-right: func.rfs(16);
      height: func.rfs(99);
      display: flex;
      align-items: center;

      .backIcon {
        width: func.rfs(61);
        height: func.rfs(59);
        fill: #141414;
      }
    }

    .channel {
      height: func.rfs(99);
      padding: func.rfs(18) func.rfs(40);
      background-color: #eff5fe;
      border-radius: func.rfs(math.div(99, 2));
      display: flex;
      align-items: center;

      .channelImg {
        width: func.rfs(63);
        height: func.rfs(63);
        border-radius: func.rfs(26);
        margin-right: func.rfs(16);
        object-fit: cover;
      }

      .channelName {
        font-size: func.rfs(44);
        line-height: func.rfs(63);
        max-width: 9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .channelIcon {
        // width: mixins.rfs(61);
        height: func.rfs(36);
        fill: #a3a2a8;
      }
    }

    .title {
      flex: 1;
      font-weight: 600;
      color: #0f0f0f;
      font-size: func.rfs(69);
      line-height: func.rfs(104);
    }
  }

  .articleCard {
    width: func.rfs(1260, 0px, 1260*1.68);
    background: #fff;
    // border-radius: 12px;
    margin: 0 auto func.rfs(19) auto;
    // box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    padding: func.rfs(69) func.rfs(36);

    // 在精确点击设备上增大20%
    // @include mixins.media-up(tablet) {
    //   width: func.rfs(1260 * 1.5);
    // }

    .userInfo {
      height: func.rfs(117);
      display: flex;
      align-items: center;
      margin-bottom: func.rfs(19);

      .avatar {
        width: func.rfs(108);
        height: func.rfs(108);
        border-radius: func.rfs(54);
        margin-left: func.rfs(-1);
        margin-right: func.rfs(20);
        object-fit: cover;
        border: 1.5px solid #f2f2f2;
      }

      .userInfoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        gap: func.rfs(16);



        .userMeta {
          display: flex;
          align-items: center;
          gap: func.rfs(16);
          height: func.rfs(46);


          .nickname {
            font-weight: 500;
            color: #222;
            font-size: func.rfs(40);
            line-height: func.rfs(46);
          }

          // .level {
          //   background: #ffe7b2;
          //   color: #ff9800;
          //   font-size: 12px;
          //   border-radius: 8px;
          //   padding: 0 6px;
          //   margin-left: 2px;
          // }

          // .authorTag {
          //   background: #eaf1fe;
          //   color: #4e70f1;
          //   font-size: 12px;
          //   border-radius: 8px;
          //   padding: 0 6px;
          //   margin-left: 2px;
          // }
        }

        .time {
          color: #bdbdbd;
          font-size: func.rfs(36);
          line-height: func.rfs(36);
        }
      }

      .followBtn {
        width: func.rfs(205);
        height: func.rfs(91);
        margin-left: auto;
        margin-right: func.rfs(4);
        background-color: #eff5fe;
        font-size: func.rfs(38);
        color: #3f71fd;
        border-radius: func.rfs(45.5);
        text-align: center;
        line-height: func.rfs(91);
      }
    }

    .title {
      flex: 1;
      margin-bottom: func.rfs(50);
      font-weight: 600;
      color: #141414;
      font-size: func.rfs(69);
      line-height: func.rfs(104);
    }

    .content {
      font-size: func.rfs(55);
      line-height: func.rfs(88);
      color: #141414;
      margin-bottom: func.rfs(39);
      // white-space: pre-wrap;

      p {
        margin-bottom: func.rfs(23);
      }
    }

    .images {
      margin-bottom: 8px;
      cursor: pointer;
      transition: box-shadow 0.2s;

      &:active {
        // box-shadow: 0 4px 16px 0 rgba(78, 112, 241, 0.12);
      }

      .imageItem {
        margin-bottom: func.rfs(37);

        .imageBox {
          position: relative;
          display: inline-block;
          max-height: func.rfs(4096);
          border-radius: func.rfs(23);
          overflow: hidden;

          img {
            border-radius: func.rfs(23);
            object-fit: cover;
          }

          .imageMask {
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: func.rfs(23);
            border: func.rfs(1) solid rgba(0, 0, 0, 0.07);
          }
        }
      }
    }

    .cardFooter {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: func.rfs(39);

      .cardFooterItem {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: func.rfs(16);
        font-size: func.rfs(37);
        color: #49494a;
        text-align: center;

        .icon {
          width: func.rfs(72);
          height: func.rfs(72);
          fill: #49494a;

          path {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        // 点赞状态样式
        &.cardFooterItemLiked {
          color: #ff382a;

          .icon {
            fill: #fe4c63;
          }
        }
      }
    }
  }

  // 允许双击放大和选择文本
  .title,
  .content p {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  .StickyActive {
    border-bottom: func.rfs(1) solid #ededed;
  }

  // 动画类
  .iconAnimate {
    animation: scaleBounce 0.3s ease-in-out;
  }

  // 动画关键帧
  @keyframes scaleBounce {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  .commentSection {
    width: func.rfs(1260, 0px, 1260*1.68);
    margin: 0 auto;
    background: #fff;
    // padding: 0px mixins.rfs(40);
    flex: 1;
    scroll-margin-top: func.rfs(155);

    // 评论区标题吸顶
    .commentTitle {
      position: sticky;
      top: func.rfs(155);

      display: flex;
      justify-content: space-between;
      align-items: start;

      height: func.rfs(135);
      padding: func.rfs(29) func.rfs(40) func.rfs(14);
      background: #fff;

      font-size: 15px;
      color: #888;
      font-weight: 500;


      .commentViewFilter {
        display: flex;
        align-items: center;
        gap: func.rfs(67);

        margin-top: func.rfs(1);

        .commentViewFilterItem {
          color: #8f8e94;
          font-size: func.rfs(47);
          line-height: func.rfs(71);

          &.active {
            color: #141414;
          }
        }
      }

      .commentMode {
        display: flex;
        align-items: center;
        gap: func.rfs(16);
        background-color: #f7f7f8;
        height: func.rfs(91);
        border-radius: func.rfs(45.5);

        .commentModeItem {
          width: func.rfs(150);
          height: 100%;
          color: #a3a3a6;
          font-size: func.rfs(40);
          line-height: func.rfs(91);
          text-align: center;

          &.active {
            border: func.rfs(4) solid #ededee;
            background-color: #ffffff;
            border-radius: func.rfs(45.5);
            color: #141414;
          }
        }
      }
    }
  }

  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: func.rfs(908);
    padding: func.rfs(80) 0;
    color: #999;
    font-size: func.rfs(44);
    line-height: func.rfs(49);
  }

  // 评论列表样式
  .commentList {
    display: flex;
    flex-direction: column;
  }

  .noMore {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: func.rfs(24);
    color: #999;
    padding: func.rfs(40) 0;

    div {
      width: func.rfs(97);
      height: func.rfs(1);
      background-color: #f2f2f2;
    }

    span {
      font-size: func.rfs(44);
      line-height: func.rfs(49);
      color: #888;
      white-space: nowrap;
    }
  }

  // 回复列表弹窗样式
  .repliesList {
    display: flex;
    flex-direction: column;
    gap: func.rfs(20);
  }

  .originalCommentWrapper {
    padding-bottom: func.rfs(20);
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: func.rfs(20);
  }

  .repliesContainer {
    display: flex;
    flex-direction: column;
    gap: func.rfs(16);
  }
}

.originalCommentWrapper {
  border-bottom: func.rfs(21) solid #f7f7f8;
}