@use "sass:math";

@function vw($px) {
  @return math.div($px, 1260) * 100vw;
}

@function vh($px) {
  @return math.div($px, 1260) * 100vh;
}

@function rfs($px, $min: 0px) {
  @return clamp($min, vw($px), vh($px));
}

.channelList {
  display: flex;
  gap: rfs(25);
  padding: rfs(22);
  // 溢出滚动
  overflow-x: auto;
  // 隐藏所有浏览器的滚动条。
  // 作用：隐藏Firefox 浏览器的滚动条。
  // 只对 Firefox 有效。
  scrollbar-width: none;
  // 作用：隐藏IE 和 Edge（旧版）的滚动条。
  // 只对旧版 IE/Edge 有效。
  -ms-overflow-style: none;

  // 作用：隐藏Chrome、Safari 和 Opera 的滚动条。
  // 只对 Webkit/Blink 浏览器有效。
  &::-webkit-scrollbar {
    display: none;
  }
}

.channelItem {
  display: flex;
  align-items: center;
  flex: 0 0 auto; // 关键：让宽度由内容决定，不被拉伸或压缩
  padding: rfs(19) rfs(37);
  color: #141414;
  font-size: rfs(22);
  background: #f7f7f8;
  border-radius: rfs(44);
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.active {
    background: #eaf1fe;
    color: #3b72ff;
  }
}

.channelImg {
  width: rfs(50);
  height: rfs(50);
  border-radius: rfs(32);
  margin-right: rfs(10);
  object-fit: cover;
}

.channelName {
  font-weight: 500;
  font-size: rfs(36);
  line-height: rfs(36);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6em;
}