@use "sass:math";

// 公共的vw计算函数
@function vw($px) {
  @return math.div($px, 1260) * 100vw;
}

.channelList {
  display: flex;
  gap: vw(25);
  padding: 1.77vw;
  // 溢出滚动
  overflow-x: auto;
  // 隐藏所有浏览器的滚动条。
  // 作用：隐藏Firefox 浏览器的滚动条。
  // 只对 Firefox 有效。
  scrollbar-width: none;
  // 作用：隐藏IE 和 Edge（旧版）的滚动条。
  // 只对旧版 IE/Edge 有效。
  -ms-overflow-style: none;

  // 作用：隐藏Chrome、Safari 和 Opera 的滚动条。
  // 只对 Webkit/Blink 浏览器有效。
  &::-webkit-scrollbar {
    display: none;
  }
}

.channelItem {
  display: flex;
  align-items: center;

  max-width: vw(402);
  padding: vw(19) vw(37);

  color: #141414;
  font-size: 1.77vw;

  background: #f7f7f8;

  border-radius: vw(math.div(50 + 19 * 2, 2));

  transition: background 0.2s, color 0.2s;
  // ... 现有样式 ...
  cursor: pointer;
  /* 或者 default，取决于你的交互 */
  // 禁止用户选中内容
  -webkit-user-select: none;
  /* Safari, Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard */

  &.active {
    background: #eaf1fe;
    color: #3b72ff;
  }
}

.channelImg {
  width: vw(50);
  height: vw(50);
  border-radius: math.div(20vw, 12.6);
  margin-right: 0.82vw;
  object-fit: cover;
}

.channelName {
  // color: #4a90e2;
  font-weight: 500;
  font-size: vw(36);
  line-height: vw(36);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}