/* 去除常见标签默认的 margin 和 padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 禁止双击放大和选择文本 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 隐藏浏览器默认滚动条 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

body {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

#root {
  min-height: 100vh;
}

/* 设置网页统一的字体大小、行高、字体系列相关属性 */
body {
  font: 16px/1.5 "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
  min-height: 100vh;
  background-color: #f2f2f3;
}

/* 去除列表默认样式 */
ul,
ol {
  list-style: none;
}

/* 去除默认的倾斜效果 */
em,
i {
  font-style: normal;
}

/* 去除a标签默认下划线，并设置默认文字颜色 */
a {
  text-decoration: none;
  color: #333;
}

/* 设置img的垂直对齐方式为居中对齐，去除img默认下间隙 */
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

/* 去除input默认样式 */
input {
  background: none;
  border: none;
  outline: none;
  color: #333;
  /* 允许输入框选择文本 */
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* 在您的 CSS/SCSS 文件中 */
.adm-pull-to-refresh {
  /* touch-action: none; */
  /* 'none' 确保拖动手势可以被库完全接管 */
}