.commentCard {
  display: flex;
  flex-direction: column;

  padding: func.rfs(52) func.rfs(40) func.rfs(39);

  &+.commentCard {
    border-top: 1px solid #f2f2f2;
  }


  .commentAvatarBox {
    width: func.rfs(133);
    height: 100%;

    .commentAvatar {
      width: func.rfs(110);
      height: func.rfs(110);
      border-radius: 50%;
      object-fit: cover;
    }
  }



  .commentMeta {
    display: flex;
    align-items: center;
    gap: func.rfs(12);
    margin-bottom: func.rfs(28);

    .commentNickname {
      color: #141414;
      font-weight: 500;
      font-size: func.rfs(46);
      line-height: func.rfs(46);
    }

    .commentLevel {
      background: #eaf1fe;
      color: #4e70f1;
      font-size: 11px;
      border-radius: 8px;
      padding: 0 4px;
    }

    .authorTag {
      height: func.rfs(46);
      padding: 0 func.rfs(10);
      border: func.rfs(2) solid #a1b8f7;
      border-radius: func.rfs(11);
      color: #3e71ff;
      font-size: func.rfs(31);
      line-height: func.rfs(46);
    }

    .commentLike {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: func.rfs(12);

      .icon {
        width: func.rfs(51);
        height: func.rfs(51);
        fill: #515152;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .commentLikeCount {
        font-size: func.rfs(38);
        color: #515152;
      }

      &.active {
        .commentLikeCount {
          color: #ff382a;
        }

        .icon {
          fill: #fe4c63;
        }
      }
    }

    .commentMore {
      .icon {
        width: func.rfs(55);
        height: func.rfs(55);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .commentContent {
    font-size: func.rfs(50);
    color: #141414;
    line-height: func.rfs(88);
    margin-left: func.rfs(133);
    // css进行换行符换行显示
    white-space: pre-wrap;
    word-break: break-all;

    .replyToUser {
      color: #8f8e94;
      font-weight: 500;
      margin-right: func.rfs(30);
    }
  }

  .commentInfo {
    margin-left: func.rfs(133);
    color: #bdbdbd;
    font-size: func.rfs(43);
    line-height: func.rfs(73);
    display: flex;
    align-items: center;
    gap: func.rfs(14);
  }

  .replyBox {
    margin-left: func.rfs(133);
    margin-top: func.rfs(24);
    background: #f7f7f8;
    border-radius: func.rfs(20);
    padding: func.rfs(25) func.rfs(37);

    .replyItem {
      // display: flex;
      // align-items: flex-start;
      gap: func.rfs(8);
      font-size: func.rfs(50);
      line-height: func.rfs(80);
      color: #3e3e3f;
      margin-bottom: func.rfs(10);

      word-break: break-all;
      // 限制为4行高度
      display: -webkit-box;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:last-child {
        margin-bottom: 0;
      }

      .replyNickname {
        margin-right: func.rfs(30);
        color: #8f8e94;
        font-weight: 500;
        white-space: nowrap;
        flex-shrink: 0;
      }

      .replyText {
        color: #333;
        flex: 1;


      }
    }

    .viewAllReplies {
      color: #325ace;
      font-size: func.rfs(50);
      line-height: func.rfs(66);
      cursor: pointer;

      &:hover {
        color: #3a5fd9;
      }

      &:active {
        color: #2a4fc9;
      }
    }
  }

  // 动画类
  .iconAnimate {
    animation: scaleBounce 0.3s ease-in-out;
  }

  // 动画关键帧
  @keyframes scaleBounce {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }
}




.repliesContainer {

  // 回复列表容器样式
  .commentCard {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: flex-end;
}

.dragDownPanel {
  width: clamp(0px, 100vw, 60*1.3vh);
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 50vh;
  max-height: 90vh;
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}